.card{
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    border-radius: 12px 12px 14px 14px;

}

.image{
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 5.3rem; 
}
.bgColorWork{
    background: var(--LightRedWork);
}
.bgColorplay{
    background: var(--SoftBluePlay);
}
.bgColorSelfCare{
    background: var(--SoftOrangeSelfCare);
}
.bgColorSocial{
    background: var(--VioletSocial);
}
.bgColorStudy{
    background: var(--LightRedStudy);
}
.bgColorExercise{
    background: var(--LimeGreenExercise);
}

.work{
    background-image: url('../../../shared//images/icon-work.svg');
}
.play{
    background-image: url('../../../shared//images/icon-play.svg');
}
.social{
    background-position: right top;
    background-image: url('../../../shared//images/icon-social.svg');
}
.selfCare{
    background-image: url('../../../shared//images/icon-self-care.svg');
}
.study{
    background-image: url('../../../shared//images/icon-study.svg');
}
.exercise{
    background-position: right top;
    background-image: url('../../../shared//images/icon-exercise.svg');
}


.content_image{
    height: 18%;
    width: 100%;
    padding-right: 16px;
}

.body{
    height: 83%;
    width: 100%;
    border-radius:  var(--Rounder);
    background: var(--DarkBlue);
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body h4 {
    text-transform: capitalize;
}

.body svg:hover {
    cursor: pointer;
}

.body footer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.body span{
    color: var(--PaleBlue);
    font-size: 12px;
    font-weight: 600;
}
.body h1 {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1px;
}

@media (max-width: 800px) {
    .content_image{
        height: 2.5rem;
    }
    .social{
        background-position: right;
    }
    .body footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: .5rem;
    }
    .body h1 {
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 1px;
    }
}