.dashboard{
    width: 80%;
    height:34rem;
}

.dashboard_layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100%;
    gap: 1.5rem;
}

.details{
    height: 100%;
    grid-row: 1/3;
}

.tracking{
    min-width: 75%;
    height: 100%;
}

@media (max-width: 800px) {

    .dashboard{
        width: 85%;
        height:auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .dashboard_layout{
        display: flex;
        flex-direction: column;
    }
    .details{
        height: 15rem
    }
}